/*Обнуляющий CSS*/
/*Убираем все отступы и границы*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
/*Убираем границы для удобства просчета*/
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
/*Убираем линии обводки в некоторых браузерах*/
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
/*Делаем блочными некоторые тэги*/
nav,
footer,
header,
aside {
   display: block;
}
/*Уравниваем параметры поведения шрифтов и элементов в разных браузерах.
В том числе запрещают самовольное увеличение шрифтов на мобильных устройствах*/
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
/*Обращаемся к тэгам форм и просим их наследовать семейство шрифтов*/
input,
button,
textarea {
   font-family: inherit;
}
/*Убираем некоторые особенности в разных браузерах для тэгов*/
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
/*Обнуляем все заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*------------------------------------------------------*/
body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   margin: 126px 309px 104px 291px;
   width: 842px;
   height: 1472px;
   background-color: #e8e8e8;
}
.text1 {
   letter-spacing: 3px;
   line-height: 40px;
   color: #000000;
   text-transform: uppercase;
   margin: 0 0 22px 0;
}
.list {
   font-size: 20px;
   line-height: 36px;
   color: #273d46;
   margin: 0 0 80px 0;
}
.list li::before {
   content: "";
   background: url("../img/icons/check\ icon.png") left no-repeat;
   padding: 0 0 0 30px;
}

.list li:first-child {
   text-decoration: line-through;
}
.list li:nth-child(2) {
   font-weight: 700;
}
.list li:nth-child(3) {
   font-style: italic;
}
.list li:last-child {
   text-transform: uppercase;
}

.list2 {
   font-size: 20px;
   line-height: 36px;
   color: #273d46;
   margin: 0 0 136px 0;
}

.list2 li:nth-child(2):hover::before {
   content: "";
   background: url("../img/icons/check\ icon2.png") left no-repeat;
}

.list2 li:nth-child(2):hover {
   color: red;
}

.list2 li::before {
   content: "";
   background: url("../img/icons/check\ icon.png") left no-repeat;
   padding: 0 0 0 30px;
}

.button1 {
   width: 199px;
   height: 44px;
   text-transform: uppercase;
   background-color: #7fb7b3;
   letter-spacing: 3px;
   line-height: 40px;
   color: #ffffff;
   border-radius: 50px;
   box-shadow: 0px 6px 20px rgba(128, 183, 179, 0.54);
   margin: 0 97px 0 0;
}
.button1::after {
   content: "→";
   font-size: 22px;
   padding: 0 0 0 10px;
}

.button2 {
   width: 199px;
   height: 44px;
   text-transform: uppercase;
   background-color: #7fb7b3;
   letter-spacing: 3px;
   line-height: 40px;
   color: #ffffff;
   border-radius: 50px;
   box-shadow: 0px 6px 20px rgba(128, 183, 179, 0.54);
   margin: 0 97px 0 0;
}
.button2:hover {
   background-color: #3a5855;
}
.button2::after {
   content: "→";
   font-size: 22px;
   padding: 0 0 0 10px;
}

.button3 {
   width: 199px;
   height: 44px;
   text-transform: uppercase;
   background-color: #7fb7b3;
   letter-spacing: 3px;
   line-height: 40px;
   color: #ffffff;
   border-radius: 50px;
   box-shadow: 0px 6px 20px rgba(128, 183, 179, 0.54);
}
.button3:active {
   background-color: #818181;
}
.button3::after {
   content: "→";
   font-size: 22px;
   padding: 0 0 0 10px;
}

.text2 {
   font-size: 18px;
   line-height: 28px;
   text-align: left;
   margin: 117px 0 43px 0;
}
.text2::first-line {
   color: red;
}

.text3 {
   font-size: 18px;
   line-height: 28px;
   text-align: left;
}
.text3::first-letter {
   font-size: 25px;
   color: red;
}
